@using Inventory_System_Template_Web_App.ViewModels
@model LoginViewModel
@{
    ViewData["Title"] = "Welcome, Login";
}

<main class="form-signin w-100 m-auto">
    <form method="post" asp-action="Index">
        <h1 class="h3 mb-3 fw-normal">Sign in</h1>
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span>@TempData["Error"]</span>
            </div>
        }
        <div class="form-floating mb-2">
            <input asp-for="UserName" class="form-control" id="floatingInput" placeholder="Username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input asp-for="Password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>        
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>   
        @* <p> <a asp-action="ForgotPassword"> Forgot your password?</a></p> *@
    </form>
</main>
