@using Inventory_System_Template_Web_App.ViewModels
@model AddItemViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container vh-100 d-flex align-items-center justify-content-center">
    <form method="post" asp-action="Edit" enctype="multipart/form-data">

        <!-- Text Input -->
        <div class="mb-3">
            <label for="name" class="form-label">SKU</label>
            <input asp-for="SKU" class="form-control" placeholder="Enter your account name" required>
        </div>

        <!-- Text Input -->
        <div class="mb-3">
            <label for="name" class="form-label">Brand Name</label>
            <input asp-for="Brand" class="form-control" placeholder="Enter your account name" required>
        </div>

        <!-- Text Input -->
        <div class="mb-3">
            <label for="name" class="form-label">Product Name</label>
            <input asp-for="ProductName" class="form-control" placeholder="Enter your account name" required>
        </div>

        <!-- Text Input -->
        <div class="mb-3">
            <label for="name" class="form-label">Price</label>
            <input asp-for="Price" class="form-control" placeholder="Enter your account name" required>
        </div>

        <!-- Text Input -->
        <div class="mb-3">
            <label for="name" class="form-label">Category</label>
            <input asp-for="Category" class="form-control" placeholder="Enter your account name" required>
        </div>

        <!-- Text Input -->
        <div class="mb-3">
            <label for="name" class="form-label">Quantity</label>
            <input asp-for="Quantity" class="form-control" placeholder="Enter your account name" required>
        </div>

        <!-- Image Upload -->
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image:</label>
            <input asp-for="Image" type="file" class="form-control" accept="image/*">
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
